header {
    display: flex;
    justify-content: center;
    color: white;
    background-color: turquoise;
}

h3 {
    display: flex;
    font-size: 28px;
}

/* button */
#submit {
    display: flex;
    margin: 0 0 8% 0;
    padding: 3% 37%;
    border-color: turquoise;
    background-color: turquoise;
}

/* input box */
#city {
    display: flex;
    padding: 3% 14%;
}

/* div holding the seach btn and input box */
#user-search {
    margin: 6% 0;
    border-bottom: 1px solid black;
}

/* results box */
#repos-container {
    display: block;
    margin-top: 2%;
    padding: 1.3%;

}

.search {
    border-bottom: 1px solid black;
    margin-right: 80%;

}

#fiveday {
    margin: 5% 0 0 0%;

}

.col-2 {
    border: 1px solid black;
    background-color: turquoise;
    color: white;
}

